{% extends "layout.html" %}

{% block page_title %}HMPPS Digital{% endblock %}

{% block content_title %}Digital Prison Services{% endblock %}

{% block content %}
    <img src="/assets/images/hmpps-digital-header.jpg" alt="HMPPS Digital Studio in Sheffield" class="hero">
    <p class="govuk-body-l">Digital Prison Services enable prison staff to spend more time with prisoners, providing them with improved rehabilitation services.</p>
    <p class="govuk-body">By providing the relevant data and safety information quickly and consistently, we help prison staff deal with issues and queries with confidence and improved safety.</p>
    <h2 class="govuk-heading-l">The 7 things you need to know</h2>
    <p class="govuk-body">Digital Prison Service has:</p>
    <ol class="govuk-list govuk-list--number">
        <li>gone live in all UK prisons</li>
        <li>106,000 user sessions in March 19</li>
        <li>76,000 case notes added</li>
        <li>saved over 3,000 hours since with new activity lists</li>
        <li>saved 6,700 hours by redesigning the login user journey</li>
        <li>responded quickly to changing user and business needs</li>
        <li>conducted more than 70 prisons visits covering more than 13,000 miles talking to the users at the heart of our work</li>
    </ol>

    <h2 class="govuk-heading-l">Get involved</h2>
    <p class="govuk-body">If you would like to meet the team and see all the other work we are doing please sign up for one of our Sheffield Studio Open Days</p>
    <a href="https://www.eventbrite.co.uk/e/sheffield-hmpps-digital-studio-open-day-tickets-59104205269" title="Sign up for one of our Sheffield Studio Open Days" target="_blank" class="govuk-button">Sign up</a>

    <h2 class="govuk-heading-l">Quotes from users</h2>
    <blockquote>
        <p class="govuk-body">"This will save us millions of pounds."</p>
        <cite>
            <p class="govuk-body">Jason Swettenham - HMPPS Head of industries and Business development</p>
        </cite>
    </blockquote>

    <blockquote>
        <p class="govuk-body">"It actually looks like a really good system, much improved from the original version. Did the Prison Service really create this?!?!?!"</p>
        <cite>
            <p class="govuk-body">OBP Treatment Manager - HMP Rochester</p>
        </cite>
    </blockquote>

    <blockquote>
        <p class="govuk-body">"Why has it taken so long to do something like this (Whereabouts), it's like coming out of the dark ages"</p>
        <cite>
            <p class="govuk-body">Custodial Manager - HMP Preston</p>
        </cite>
    </blockquote>

    <blockquote>
        <p class="govuk-body">"This is a game changer, I want to hug you"</p>
        <cite>
            <p class="govuk-body">Prison Officer - HMP Maidstone</p>
        </cite>
    </blockquote>

{% endblock %}

