{% extends "layout.html" %}

{% block page_title %}HMPPS Digital{% endblock %}

{% block content_title %}Digital Prison Services{% endblock %}


{% block content %}
    <img src="/assets/images/hmpps-digital-header.jpg" alt="HMPPS Digital Studio in Sheffield" class="hero">
    <p class="govuk-body-l">Digital Prison Services is primarily focused enabling prison staff to spend more time with prisoners and providing those individuals with improved rehabilitative services.</p>
    <p class="govuk-body">By sufficing the relevant data and safety information quickly and consistently we aim to enable prison staff to deal with issues and queries with confidence and in a safer fashion.</p>
    <h2 class="govuk-heading-l">The 7 things you need to know about Digital Prison Service</h2>
    <ol class="govuk-list govuk-list--number">
        <li>Live in all prisons in the UK</li>
        <li>106k user sessions in March 19</li>
        <li>76k case notes added</li>
        <li>New Activity lists have saved over 3k hours since Aug 18</li>
        <li>New login journey has saved 6.7k hours to date</li>
        <li>We constantly respond to changing user and business needs</li>
        <li>The team has conducted over 70 prisons visits covering more than 13k miles to talk to the users who are at the heart of our work</li>
    </ol>

    <a href="#" title="#" class="govuk-button">Sign up for one of our Sheffield Studio Open Days</a>

    <h2 class="govuk-heading-l">Quotes</h2>
    <blockquote>
        <p class="govuk-body">"This will save us millions of pounds."</p>
        <cite>
            <p class="govuk-body">Jason Swettenham - HMPPS Head of industries and Business development</p>
        </cite>
    </blockquote>

    <blockquote>
        <p class="govuk-body">"It actually looks like a really good system, much improved from the original version. Did the Prison Service really create this?!?!?!"</p>
        <cite>
            <p class="govuk-body">OBP Treatment Manager - HMP Rochester</p>
        </cite>
    </blockquote>

    <blockquote>
        <p class="govuk-body">"Why has it taken so long to do something like this (Whereabouts), it's like coming out of the dark ages"</p>
        <cite>
            <p class="govuk-body">Custodial Manager - HMP Preston</p>
        </cite>
    </blockquote>

    <blockquote>
        <p class="govuk-body">"This is a game changer, I want to hug you"</p>
        <cite>
            <p class="govuk-body">Prison Officer - HMP Maidstone</p>
        </cite>
    </blockquote>

    <h2 class="govuk-heading-l">Would you like to know more?</h2>
    <p class="govuk-body">If you would like to meet the team and see all the other work we are doing please sign up for one of our Sheffield Studio Open Days</p>
    <a href="#" title="#" class="govuk-button">Sign up for one of our Sheffield Studio Open Days</a>



    
{% endblock %}

