{% extends "layout.html" %}

{% block page_title %}HMPPS Digital{% endblock %}

{% block content_title %}Digital Prison Services{% endblock %}


{% block content %}

<p>Digital Prison Services is primarily focused enabling prison staff to spend more time with prisoners and providing those individuals with improved rehabilitative services.</p>

<p>By sufficing the relevant data and safety information quickly and consistently we aim to enable prison staff to deal with issues and queries with confidence and in a safer fashion.</p>

{% endblock %}
